*, ::before, ::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


body{

background-color:grey;

}

.loc-form{
    visibility: hidden;
}

.city-form{
    visibility: hidden;
}
.serext{
    width: 70%;
}
main{
    margin: 12px auto !important;
    display:grid;
    grid-template-columns: minmax(0,1fr) 350px;
    gap:1rem;
    max-width: 1162px;
}

button{
    border-radius: 16px;
    padding: 8px 14px;
}

.weather-periods{
    display:grid;
    grid-column-start: 1;
    grid-column-end: 2;
    row-gap: 12px;
    grid-auto-rows: max-content;
  
   
}


.current-conditions{
    background-color:white;
    padding: 5%;
    border-radius: 16px;
    /* margin-top: 10px; */

}

.grr{
    display: flex;
    justify-content: space-between;
}

.brr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.brr>div{
    

}

.brr>div:nth-of-type(1){
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    justify-content: center;
    border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;
    flex: 1;
    order: 1;
    text-align: center;
    
}
.brr>div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    border: 1px solid;
    flex-basis: 20%;
    justify-content: center;
    border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;
    flex: 1;
    order: 2;
    text-align: center;
    

}
.brr>div:nth-of-type(3){
    display: flex;
    flex-direction: row;
    border: 1px solid;
    flex-basis: 20%;
    justify-content: center;
    border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;
    flex: 1;
    order: 3;
    text-align: center;
}
.brr>div:nth-of-type(4){
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    justify-content: center;
    border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;
    flex: 1;
    order: 4;
    text-align: center;
}

.sprr{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.today-forecast{
    border-radius: 15px;
    background-color:white;
    padding:5%;
    border-bottom: 10px;

}
.current-weather{
    background-color:white;
    padding:5%;
    border-radius: 16px;
    
   
}
    
.hourly-forecast{
    padding:5%;
    background-color:white;
    border-radius: 16px;

}
.daily-forecast{
    padding:5%;
    background-color:white;
    border-radius: 16px;

}